<div class="flex flex-column p-2">
    <h3>Buscador</h3>
    <mat-form-field>
        <mat-label>
            Buscador de Heroes    
        </mat-label>
        <input 
            type="text"
            matInput
            [formControl]="searchInput"
            (input)="searchHero()"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete 
            (optionSelected)="onSelectedOption( $event )"
            autoActiveFirstOption #auto="matAutocomplete"
        >
            <mat-option *ngFor="let option of heroes " [value]="option">
                {{option.superhero}}
            </mat-option>
            <mat-option 
                *ngIf="heroes.length===0 && searchInput.value && searchInput.value.length >= 0"
            >
                <span>No hay resultados con el termino: </span>{{ searchInput.value }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-divider class="m-3"></mat-divider>
    <div class="grid m-5 p-2">
        <div
            *ngFor="let hero of heroes"
            class="col-12 sm:col-4 md:col-3 xl:col-2">
            <heroes-hero-card [hero]="hero"></heroes-hero-card>
        </div>
    </div>
</div>